
h1 { 
    color: black;
    font-size: 120px;    
    font-weight: 700; 
    text-align: center;
    font-family: 'Schoolbell', arial, serif;
}
body {
    background-image: url('https://iili.io/iRCOwG.md.jpg" alt="iRCOwG.md.jpg');
    background-size: cover;
    background-position: cover;
    position: relative;
}
#taskInputContainer {
    display:flex;
    align-content: center;
    justify-content: center;

    
}
#addTaskButton {
    background-color: indigo;
    color: antiquewhite;
    border-radius: 15px;
    width: 180px;
    height: 60px;
    font-size: 30px;
    margin-left: 10px;
    
}

#taskInput {
    width:80%;

}
div {
    color: black;
    font-size: 50px;
    text-decoration: underline;
    font-family: 'Schoolbell', arial, serif;    
}

.checkbox{
    width:40px;
    height:40px;


}

.toDoListContainer {
    display:grid;
    padding-left: 10%;
    
    

}




