
h1 { 
    padding: 30px;
    background-color:  rgb(112, 34, 38);
    color: antiquewhite;
    font-size: 60px;
    padding: 10px;
    font-weight: 700; 
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-family: 'Papyrus', 'Copperplate';
}
body {
    background-image: url('https://iili.io/4TwtrN.md.jpg');
    background-size: cover;
    background-position: cover;
    position: relative;
}
#taskInputContainer {
    display:flex;
    align-content: right;
    
}
#addTaskButton {
    background-color: indigo;
    color: antiquewhite;
    border-radius: 15px;
    width: 180px;
    height: 60px;
    font-size: 30px;
    margin-left: 10px;
    
}
/* .todoContainer {
    display: grid; 
}*/
.todoCheckBox {
    float: left;
}

#taskInput {
    width:80%;

}